@import "../../global.scss";

.publicationPreview {
  width: 75%;
  padding: 10px 16px;
  margin: 5px 10px;
  background-color: white;
  border-radius: 4px;

  &:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  }

  a {
    all: unset;
    text-decoration: none;
    color: $publicationColor;
    cursor: pointer;

    h2 {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 8px;
    }

    h3 {
      font-size: 12px;
      margin-bottom: 2px;
    }

    h5 {
      margin-bottom: 5px;
    }
  }
}
