@import "../global.scss";

.doesNotExist{
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: $publicationColor;
}