$primaryColor: rgb(54, 80, 113);
$secondaryColor: rgb(248, 235, 219);
$tertiaryColor: rgb(186, 202, 225);
$publicationColor: rgb(62, 62, 62);

// $primaryColor: rgb(8, 8, 71);
// $secondaryColor: rgb(255, 255, 242);
// $tertiaryColor: rgb(246, 246, 251);

$width: 768px;

@mixin mobile{
    @media (max-width: #{$width}) {
        @content
    }
}

@mixin tablet{
    @media (max-width: #{1170px}) {
        @content
    }
}